.jumbotron.jumbotron-extend
  .jumbotron-title
    No Run, No Life
.inline-block
  %h3 新着情報
  %ul.info-box
    %li 大会情報を更新しました
    %li 新たにユーザーAさんが登録しました
.inline-block
  %h3 No Run, No Lifeについて
  %ul.info-box
    %li 大会記録を保存し、自己記録を管理！！
    %li 今まで走ってきた大会が、googleマップに！！
    %li 全国のマラソン大会を自由に検索！！
    %li 日々の練習記録を保存し、CSV出力で分析可能に！！
    %li 悩みや疑問は、質問/募集コーナーで解決！！
    %li 自己ベスト更新、走った距離でランレベルアップ！！
.inline-block
  %h3 ユーザー一覧
  %ul.info-box
    - @users.each do |user|
      = t '.user_name'
      = ":"
      = link_to user.name, user_path(user.id)
      = t '.created_at'
      = ":"
      = user.created_at.strftime("%Y-%m-%d")
