.jumbotron.jumbotron-extend
  .jumbotron-title
    No Run, No Life
.inline-block
  %h3= t '.recent_create_user'
  = link_to "(#{t '.user_all'})", users_path
  %ol.info-box
    - @users.each do |user|
      %li
        = t '.user_name'
        = ":"
        = link_to user.name, user_path(user.id)
        = t '.created_at'
        = ":"
        = user.created_at.strftime("%Y-%m-%d")
.inline-block
  %h3= t '.about_app'
  %ol.info-box
    %li= t '.management'
    %li= t '.googlemap'
    %li= t '.competition_search'
    %li= t '.csv'
    %li= t '.board'
    %li= t '.run_level'
.inline-block
  %h3= t '.recent_contribution'
  = link_to "(#{t '.everyone_record'})", recent_run_record_users_path
  = render 'shared/recent_contribution_list', run_records: @run_records
