.table-responsive
  %table.table.table-striped.table-borderd.table-hover
    %thead
      %tr
        %th= t '.competition_day'
        %th= t '.competition_name'
        %th= t '.competition_place'
        %th= t '.competition_site'
      - competition_infos.each do |info|
        %tr
          %td= info.competition_day
          %td= info.competition_name
          %td= info.competition_place
          %td= link_to info.competition_site, "#{info.competition_site}", target: "_blank"

= paginate competition_infos
