%h2= t '.title'

= search_form_for(@q, url: competition_infos_search_path) do |f|
  .field
    = f.label :competition_day, "#{t '.competition_day'}"
    = f.date_select :competition_day_gteq
    = '~'
    = f.date_select :competition_day_lteq
  .field
    = f.label :comeptition_name, "#{t '.competition_name'}"
    = f.text_field :competition_name_cont, class: "form-control"
  .field
    = f.label :competition_place, "#{t '.competition_place'}"
    = f.text_field :competition_place_cont, class: "form-control"
  .button-field
    = f.submit '検索しよう', class: 'btn btn-primary btn-block'

.table-responsive
  %table.table.table-striped.table-borderd.table-hover
    %thead
      %tr
        %th= t '.competition_day'
        %th= t '.competition_name'
        %th= t '.competition_place'
        %th= t '.competition_site'
      - @competition_infos.each do |info|
        %tr
          %td= info.competition_day
          %td= info.competition_name
          %td= info.competition_place
          %td= info.competition_site
= paginate @competition_infos
