.col-sm-8
  %h2= t '.title'

  = search_form_for(@q, url: search_competition_infos_path, remote: true) do |f|
    .field
      = f.label :competition_day, "#{t '.competition_day'}"
      = f.date_select :competition_day_gteq,
        {start_year: Time.now.year - 1, end_year: Time.now.year + 1,
        include_blank: true}, {class: "form-control bootstrap-date"}
      = '~'
      = f.date_select :competition_day_lteq,
        {tart_year: Time.now.year - 1, end_year: Time.now.year + 1,
        include_blank: true}, {class: "form-control bootstrap-date"}
    .field
      = f.label :comeptition_name, "#{t '.competition_name'}"
      = f.text_field :competition_name_cont, class: "form-control"
    .field
      = f.label :competition_place, "#{t '.competition_place'}"
      = f.text_field :competition_place_cont, class: "form-control"
    .button-field
      = f.submit "#{t '.lets_search'}", class: 'btn btn-primary btn-block'
%hr

#competition_infos_list
= render partial: 'competition_infos_list', locals: {competition_infos: @competition_infos}
