%h2= t '.title'

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t '.user_name'
        %th= t '.created_at'
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user_path(user)
          %td= user.created_at.strftime("%Y-%m-%d")

= paginate @users
