.form-wrapper
  %h2= t '.title'
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-item
      - if @minimum_password_length
        = f.password_field :password, autocomplete: "off", placeholder: "#{t('.characters_minimun', minimum_password_length: @minimum_password_length)}"
    .form-item
      = f.password_field :password_confirmation, autocomplete: "off", placeholder: "#{t '.password_confirmation'}"
    .button-panel
      = f.submit "#{t '.title'}", class: "btn btn-default btn-block fl_gh"
