%nav.navbar.navbar-expand-lg
  %button.navbar-toggler{"data-toggle" => "collapse", :type => "button"}
  .collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{href: root_path} #{t '.top'}
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} #{t '.mypage'}
        .dropdown-menu
          - if user_signed_in?
            = link_to "#{t '.mypagetop'}", user_path(current_user.id),  class: "dropdown-item"
          = link_to "#{t '.where_run'}", new_competition_result_run_record_path,  class: "dropdown-item"
          = link_to "#{t '.practice_record'}", new_practice_run_record_path,  class: "dropdown-item"
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} #{t '.competition_info_corner'}
        .dropdown-menu
          = link_to "#{t '.get_competition_info'}", new_competition_info_path,  class: "dropdown-item"
          = link_to "#{t '.search_competition'}", competition_infos_path,  class: "dropdown-item"
      %li.nav-item
        %a.nav-link{href: boards_path} #{t '.board'}
    %ul.navbar-nav.ml-auto
      - if user_signed_in?
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} #{t('.welcome_to', name: current_user.name)}
          .dropdown-menu
            = link_to "#{t '.edit_account'}", edit_user_registration_path,  class: "dropdown-item"
            = link_to "#{t '.logout'}", destroy_user_session_path, method: :delete, class: "dropdown-item"
      - else
        %li.nav-item
          = link_to "#{t '.login'}", new_user_session_path
