.col-sm-6
  = form_with(model: object, url: path) do |f|
    .field
      %h4= f.label :"#{t '.run_day'}"
      = raw sprintf(f.date_select(:run_record_day,
        {start_year: Time.now.year - 1, end_year: Time.now.year,
        order: [ :year, :month, :day ], use_month_numbers: true, date_separator: '%s'},
        {class: "form-control"}), '年 ', '月 ') + '日'
    = f.fields_for :weather_condition do |weather_fields|
      .field
        %h4= f.label :"#{t '.weather_conditions'}"
        %h5= f.label :"#{t '.weather'}"
        = weather_fields.text_field :day_weather, class: "form-control"
        %h5= f.label :"#{t '.temperature'}"
        = weather_fields.text_field :day_temperature, placeholder: "℃", step: "0.1", class: "form-control"
      .field
        %h5= f.label :"#{t '.humidity'}"
        = weather_fields.text_field :day_humidity, placeholder: "%", step: "0.1", class: "form-control"
        %h5= f.label :"#{t '.wind_speed'}"
        = weather_fields.text_field :day_wind_speed, placeholder: "m/s", step: "0.1", class: "form-control"
    .field
      %h4= f.label :"#{t '.run_distance'}"
      %h5= "#{t ".distance_caution"}"
      = f.number_field :run_distance, placeholder: "km", step: "0.0001", class: "form-control",min:0
    .field
      %h4= f.label :"#{t '.run_time'}"
      = f.number_field :run_hour, class: "form-control", min:0
      時間
      \#{f.number_field :run_minute, class: "form-control", min: 0 ,max: 60}分
      \#{f.number_field :run_second, class: "form-control", min: 0 ,max: 60}秒
    = f.fields_for :body_state do |body_fields|
      .field
        %h4= f.label :"#{t '.heart_rate'}"
        = body_fields.number_field :heart_rate, class: "form-control"
      .field
        %h4= f.label :"#{t '.weight'}"
        = body_fields.number_field :day_weight, placeholder: "kg", step: "0.1", class: "form-control"
      .field
        %h4= f.label :"#{t '.body_fat'}"
        = body_fields.number_field :day_body_fat, placeholder: "%", step: "0.1", class: "form-control"
    .field
      %h4= f.label :"#{t '.run_content'}"
      = f.text_area :run_content, rows: "5" , class: "form-control"
      - if controller.controller_path == "competition_result/run_records"
        .field
          %h4= f.label :"#{t '.competition_point'}"
          = f.number_field :competition_point, class: "form-control", placeholder: "点数", min: 0, max: 100
        .field
          %h4= f.label :"#{t '.competition_evaluation'}"
          = f.text_area :competition_evaluation, rows: "3", class: "form-control"
    .button-field
      = f.submit "#{t '.record'}", class: "btn btn-primary btn-block"
