/%h1= t('.title', current_user: current_user.name)
%h3= t('.run_level')
%h3= t('.run_experience')
%h3= t '.best_time_list'
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t '.best_time_5'
        %th= t '.best_time_10'
        %th= t '.best_time_21'
        %th= t '.best_time_42'
        %th= t '.best_time_100'
%h3= t '.graph'
%h3= t '.practices_list'
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t '.day'
        %th= t '.distance'
        %th= t '.time'
        %th= t '.heart_rate'
        %th= t '.show'
        %th= t '.edit'
        %th= t '.destroy'
    %tbody
      - @practices.each do |practice|
        %tr
          %td= practice.run_record_day
          %td= run_distance(practice)
          %td= run_time(practice)
          %td= practice.body_state.heart_rate
          %td= link_to "#{t '.show'}", practice_run_record_path(practice), class: "btn btn-primary"
          %td= link_to "#{t '.edit'}", edit_practice_run_record_path(practice), class: "btn btn-primary"
          %td= link_to "#{t '.destroy'}", practice_run_record_path(practice), method: :delete, class: "btn btn-primary"
%h3= t '.competition_result_list'
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t '.competition_day'
        %th= t '.competition_name'
        %th= t '.competition_place'
        %th= t '.distance'
        %th= t '.time'
        %th= t '.competition_point'
        %th= t '.show'
        %th= t '.edit'
        %th= t '.destroy'
    %tbody
      - @comp_results.each do |comp_result|
        %tr
          %td= comp_result.run_record_day
          %td= ""
          %td= ""
          %td= run_distance(comp_result)
          %td= run_time(comp_result)
          %td= comp_point(comp_result)
          %td= link_to "#{t '.show'}", competition_result_run_record_path(comp_result), class: "btn btn-primary"
          %td= link_to "#{t '.edit'}", edit_competition_result_run_record_path(comp_result), class: "btn btn-primary"
          %td= link_to "#{t '.destroy'}", competition_result_run_record_path(comp_result), method: :delete, class: "btn btn-primary"
%h3= t '.competition_map'
%h5= t '.competition_map_caution'
