%h2= t '.title'
= link_to "#{t '.create_new_thread'}", new_board_path, class: "btn btn-primary"

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= t '.thread_title'
        %th= t '.created_at'
        %th= ""
    %tbody
      - @boards.each do |board|
        %tr
          %td= link_to "#{board.title}", board_path(board)
          %td= board.created_at.strftime("%Y-%m-%d")
          - if current_user.id == board.user_id
            %td= link_to "#{t '.edit'}", edit_board_path(board), class: "btn btn-primary"
