.col-sm-6
  %h2= t '.title'
  = link_to "#{t '.edit_title'}", edit_board_path(@board)
  = link_to "#{t '.back_to_index'}", boards_path
  .thread-title
    = @board.title
  %hr
  - @comments.each_with_index do |comment, i|
    .field
      = "#{i+1}"
      = ":"
      = comment.user_name
      = comment.created_at.strftime("%Y-%m-%d %H:%M:%S")
      - if current_user.id == comment.user_id
        = link_to "#{t '.edit'}", edit_comment_path(comment)
        = link_to "#{t '.delete'}", comment_path(comment), method: :delete
    .field
      = comment.content
    %hr

  = render 'comments/form'
